@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col text-center">
        <button type="button" onclick="location.href='@Url.Action("AddToDoItem")'" class="btn btn-primary" style="width: 200px;">Add</button>
    </div>
</div>

<h2 style="margin-top:20px;">To Do Items</h2>

<table>
    @if (Model != null)
    {
        @foreach (var toDoItem in Model)
        {
            <tr>
                <td>@toDoItem.CreatedAt</td>
                <td>@toDoItem.Description</td>
                <td>@Html.ActionLink("Edit", "EditToDoItem", new { id = toDoItem.Id})</td>
                <td>@Html.ActionLink("Delete", "DeleteToDoItem", new { id = toDoItem.Id})</td>
            </tr>
        }
    }
</table>